# ==========================================================
# Core ML / DL
# ==========================================================
tensorflow
torch
torchvision

numpy
pandas
scikit-learn
opencv-python
pillow

# ==========================================================
# Visualization
# ==========================================================
matplotlib
seaborn

# ==========================================================
# Backend API
# ==========================================================
fastapi
uvicorn
pydantic
pydantic-settings==2.11.0
python-multipart

# ==========================================================
# Frontend
# ==========================================================
streamlit

# ==========================================================
# Report Generation
# ==========================================================
jinja2
weasyprint
reportlab

# ==========================================================
# Explainable AI
# ==========================================================
grad-cam

# ==========================================================
# Database
# ==========================================================
motor
pymongo[srv]==3.12

# ==========================================================
# AI
# ==========================================================
groq

# ==========================================================
# Utilities
# ==========================================================
python-dotenv
joblib
requests
tqdm

# ==========================================================
# Deployment
# ==========================================================
gunicorn

# ==========================================================
# Development
# ==========================================================
ipykernel